/*---------------------------------------------------------*/
// Base
  // Line height
  $base-line-height             : 18px;
  $form-line-height             : 18px;

  // Default font size and font color
  $base-font-size               : 13px;
  $font-color                   : #262626;

  // Default z-index property
  $Z-navigation                 : 10;

  // Links colors
  $link-color                   : #192e5b;
  $link-hover-color             : #0084b5;
  $link-visited-color           : #0084b5;

  // Selected text color and background color
  $selected-font-color          : #ffffff;
  $selected-background-color    : #0084b5;

  // Navigation specific colors
  $col-main-nav                 : #333333;
  $col-main-nav-hover           : #46b2ed;

//Variable colors used in mixins => set using the design guide
  $col-grey                     : #262626;
  $col-light-grey               : #e5e5e5;
  $col-dark-grey                : darken(#262626, 10%);

  $col-blue                     : #0084b5;
  $col-light-blue               : #688495;
  $col-dark-blue                : #192e5b;

/*---------------------------------------------------------*/
// Range Slider

// Colors
  $connectBG                    : #20bdf1;
  $defaultBG                    : #fff;
  $handleBG                     : #01a2eb;
  $borderDefaultCol             : darken($connectBG,10%);
  $borderHandleCol              : $borderDefaultCol;
// Dimensions
  $horizontalSliderHeight       : 10px;
  $verticalSliderWidth          : 10px;
  $handleWidth                  : 42px;
  $handleHeight                 : $horizontalSliderHeight + 4px;

/*---------------------------------------------------------*/
// Fonts
/* Open Sans */
@font-face {
  font-family: 'open_sansbold';
  src: url('fonts/OpenSans/opensans-bold-webfont.eot');
  src: url('fonts/OpenSans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans/opensans-bold-webfont.woff') format('woff'),
       url('fonts/OpenSans/opensans-bold-webfont.ttf') format('truetype'),
       url('fonts/OpenSans/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/OpenSans/opensans-regular-webfont.eot');
  src: url('fonts/OpenSans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans/opensans-regular-webfont.woff') format('woff'),
       url('fonts/OpenSans/opensans-regular-webfont.ttf') format('truetype'),
       url('fonts/OpenSans/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('fonts/OpenSans/opensans-semibold-webfont.eot');
  src: url('fonts/OpenSans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans/opensans-semibold-webfont.woff') format('woff'),
       url('fonts/OpenSans/opensans-semibold-webfont.ttf') format('truetype'),
       url('fonts/OpenSans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Quick Sand */
@font-face {
  font-family: 'quicksandbold';
  src: url('fonts/QuickSand/quicksand-bold-webfont.eot');
  src: url('fonts/QuickSand/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/QuickSand/quicksand-bold-webfont.woff') format('woff'),
       url('fonts/QuickSand/quicksand-bold-webfont.ttf') format('truetype'),
       url('fonts/QuickSand/quicksand-bold-webfont.svg#quicksandbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandlight';
  src: url('fonts/QuickSand/quicksand-light-webfont.eot');
  src: url('fonts/QuickSand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/QuickSand/quicksand-light-webfont.woff') format('woff'),
       url('fonts/QuickSand/quicksand-light-webfont.ttf') format('truetype'),
       url('fonts/QuickSand/quicksand-light-webfont.svg#quicksandlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandregular';
  src: url('fonts/QuickSand/quicksand-regular-webfont.eot');
  src: url('fonts/QuickSand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/QuickSand/quicksand-regular-webfont.woff') format('woff'),
       url('fonts/QuickSand/quicksand-regular-webfont.ttf') format('truetype'),
       url('fonts/QuickSand/quicksand-regular-webfont.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Champagne */
@font-face {
  font-family: 'cac_champagneregular';
  src: url('fonts/Champagne/cac_champagne-webfont.eot');
  src: url('fonts/Champagne/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Champagne/cac_champagne-webfont.woff') format('woff'),
       url('fonts/Champagne/cac_champagne-webfont.ttf') format('truetype'),
       url('fonts/Champagne/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Caviar Bold*/
@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('fonts/CaviarBold/Caviar_Dreams_Bold-webfont.eot');
  src: url('fonts/CaviarBold/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/CaviarBold/Caviar_Dreams_Bold-webfont.woff') format('woff'),
       url('fonts/CaviarBold/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
       url('fonts/CaviarBold/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Remi */
@font-face {
  font-family: 'remimedium';
  src: url('fonts/Remi/remi-webfont.eot');
  src: url('fonts/Remi/remi-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Remi/remi-webfont.woff') format('woff'),
       url('fonts/Remi/remi-webfont.ttf') format('truetype'),
       url('fonts/Remi/remi-webfont.svg#remimedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Oldish */
@font-face {
  font-family: 'oldstyle';
  src: url('fonts/Oldish/oldsih__-webfont.eot');
  src: url('fonts/Oldish/oldsih__-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Oldish/oldsih__-webfont.woff') format('woff'),
       url('fonts/Oldish/oldsih__-webfont.ttf') format('truetype'),
       url('fonts/Oldish/oldsih__-webfont.svg#oldstyle_italichplhs') format('svg');
  font-weight: normal;
  font-style: normal;

}


$base-font         : open_sansregular;
$base-font-light   : open_sansregular;
$base-font-bold    : open_sansbold;

$base-font-alt     : oldstyle;


/*---------------------------------------------------------*/
// Susy grid settings
  @import "susy";

  $total-columns  : 12;              // a 12-column grid
  $column-width   : (65/14)*1em;     // each column is 4.0625 em wide
  $gutter-width   : (30/14)*1em;     // 1.875em gutters between columns
  $grid-padding   : $gutter-width;   // grid-padding equal to gutters
  $max-width      : 1110px / $base-font-size; // 69.375em if max width needed


/*---------------------------------------------------------*/
// Tile layout
  $tile-max-num                 : 3;
  $tile-width                   : ((100 / $tile-max-num) ) *1%;
  $tile-full                    : 98%;
  $tile-margin                  : 10px 1%;
  $tile-padding                 : 1%;

/*---------------------------------------------------------*/
// Media Queries / Retina Display
  $mq-small-min                 : 0 ;
  $mq-small-max                 : 600px;

  $mq-medium-min                : 601px;
  $mq-medium-max                : 800px;

  $mq-large-min                 : 801px;
  $mq-large-max                 : 1280px;

  $pixel-ratio-min              : 1.5;

/*---------------------------------------------------------*/
// Logo
  // $logo-width                   : image-width('/logo.png');
  // $logo-height                  : image-height('/logo.png');
  // $logo-ratio                   : $logo-height/$logo-width;


/*---------------------------------------------------------*/
// Shortcuts
  $lh-px                        : $base-line-height;

/*---------------------------------------------------------*/
// Debug ( vertical-rythm / suzy / media-query)
  $DEBUG                        : true;
  $experimental-support-for-svg : true;