/*
==============================================================================
  MIXINS
==============================================================================

  - mixin debug-mq
  - mixin cross-opacity
  - mixin input-style
  - mixin button-style
  - mixin filter
  - mixin ellipsis
  - mixin word-wrap
  - mixin list-style
  - mixin inline-list-style
  - mixin v_gradient
  - mixin form_grad
  - mixin myCalc
  - mixin keyframes

*/


/* =============================================================================
   Debug Media Query
   ========================================================================== */
@mixin debug-mq($message: "some message", $color: rgba(255,255,0, 0.6) ){
    &::before{
        content: $message;
        font-weight: bold;
        display: block;
        text-align: center;
        background: #{$color};
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
}

/* =============================================================================
   Opacity cross platform ie5 and up
   ========================================================================== */
@mixin cross-opacity($val:1){
  filter: alpha(opacity=($val*100));/* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($val*100))";/* IE 8 */
  opacity: $val;
}

/* =============================================================================
   Input Style
   Note: Adds margin-top/bottom. margin-left/right are set to 0.
   ========================================================================== */

@mixin input-style($fz:$base-font-size, $rad:0 ){

  @include box-sizing(border-box);
  @include border-radius($rad);

  border: 1px solid $col-dark-grey;
  padding-left:5px;
  padding-right:5px;
  color: $font-color;

  &:focus,
  &:hover{ border: 1px solid darken($col-dark-grey, 20%)  }
}

/* =============================================================================
   Button Style
   Note: Adds margin-top/bottom. margin-left/right are set to 0.
   ========================================================================== */
@mixin button-style( $fz:$base-font-size, $bg: $col-blue , $col:#fff, $border:$col-grey ){

  @include inline-block;

  background:$bg;
  @include filter-gradient(white , #e6e6e6);
  @include background(
    linear-gradient( color-stops(white , #e6e6e6 ))
  );

  border: 1px solid lighten($bg, 5%);
  border-radius: 3px;
  border-color: #bbb;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
                    0 1px 2px rgba(0, 0, 0, 0.05);
  color: $col;
  cursor: pointer;

  font-size: $fz;
  @include single-box-shadow( rgba( 146, 146, 146, .7 ), 0px, 2px, 0px, -1px, inset);
  text-align:center;
  text-transform: uppercase;

  padding: 8px $base-font-size;

  &.active,
  &:hover,
  &:focus{
    text-decoration:none;
    @include filter-gradient(#e6e6e6 , #e6e6e6);
    @include background(
      // linear-gradient( color-stops(#3f4040 , #2f3030 ))
      linear-gradient( color-stops(#e6e6e6 , #e6e6e6 ))
    );

  }

  &[disabled]{
    color: darken($col-grey, 30%);
    @include background(none);
    background: $col-grey;

  }

}


/* =============================================================================
   Filter
   Note:
   ========================================================================== */
@mixin filter($type, $amount){
  -webkit-filter: #{$type}unquote("(") $amount unquote(")");
  -moz-filter: #{$type}unquote("(") $amount unquote(")");
  -ms-filter: #{$type}unquote("(") $amount unquote(")");
  -o-filter: #{$type}unquote("(") $amount unquote(")");
  filter: #{$type}unquote("(") $amount unquote(")");
}

/* =============================================================================
   Overflow Ellipsis
   Note:
   ========================================================================== */
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* =============================================================================
   Word Wrapping
   Note:
   ========================================================================== */
@mixin word-wrap() {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


/* =============================================================================
   List Style
   Note:
   ========================================================================== */
@mixin list-style($color: $col-dark-grey, $size: 1px){
  list-style: none;
  margin-bottom: $lh-px/2;
  margin-bottom: $lh-px/2;

  >li{
    padding-top:1em;
    padding-bottom:1em;
    border-bottom: $size dotted $color;
    &:first-child{
      border-top: $size dotted $color;
    }
    p:first-child{margin-top:0;}
    p:last-child{margin-bottom:0;}

  }
}

/* =============================================================================
   List Style
   Note:
   ========================================================================== */
@mixin inline-list-style(){
  >li{
    float: left;
  }

}
/* =============================================================================
   Vertical Gradient
   Note:
   ========================================================================== */
@mixin v_gradient ($start: #ffffff, $stop: #000000) {
  // @include pie;
  background: $start;
  background: -moz-linear-gradient(top,  $start 0%, $stop 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$stop));
  background: -webkit-linear-gradient(top,  $start 0%, $stop 100%);
  background: -o-linear-gradient(top,  $start 0%, $stop 100%);
  background: -ms-linear-gradient(top,  $start 0%, $stop 100%);
  background: linear-gradient(top,  $start 0%, $stop 100%);
}

/* =============================================================================
   Gradient Inputs
   Note:
   ========================================================================== */
@mixin form_grad(){
  background: #e5e7e6;
  background: -moz-linear-gradient(top, #e5e7e6 0%, #dfe1e0 71%, #dadcdb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e7e6), color-stop(71%,#dfe1e0), color-stop(100%,#dadcdb));
  background: -webkit-linear-gradient(top, #e5e7e6 0%,#dfe1e0 71%,#dadcdb 100%);
  background: -o-linear-gradient(top, #e5e7e6 0%,#dfe1e0 71%,#dadcdb 100%);
  background: -ms-linear-gradient(top, #e5e7e6 0%,#dfe1e0 71%,#dadcdb 100%);
  background: linear-gradient(to bottom, #e5e7e6 0%,#dfe1e0 71%,#dadcdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e6', endColorstr='#dadcdb',GradientType=0 );
}

/* =============================================================================
   calc mixin
   Note:
   ========================================================================== */
@mixin myCalc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

/* =============================================================================
   keyframes mixin
   Note: use example
        @include keyframes(bgcolor) {
          0% {
            background-color: #ffccf2;
          }
          50% {
            background-color: #ccffcc;
          }
          100% {
            background-color: #ccffff;
          }
        }
   ========================================================================== */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

