@include establish-baseline($base-font-size);

body, select, input, textarea {
  color       : $col-grey;
  font-family : $base-font;
  font-size   : $base-font-size;
}

a{
  text-decoration : none;
  &:hover{
    text-decoration: underline;
  }
}

ul, li{
  margin     : 0;
  padding    : 0;
  list-style : none;
}

p{
  margin: 0.5em 0;
}

// Used to fixed width
// of some elements
.width-constraint{
  margin: 0 auto;
  max-width: $max-width*1em; // 1110px / 16px = 69.375)
}

.fixed-pos{
  position: fixed;
  width: 100%;
  z-index: $Z-navigation;
  background: white;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------


body {
  margin: 0;
  padding : 0;
  padding: $gutter-width 0 10px;
}

#container {
  @include container(12);
  margin  : 0 auto;
}

  .mod-brand{
    @include clearfix;
  }

  .main {
    @extend .width-constraint;
    @include clearfix;
  }

    .profile {
      h4{
        font-weight: normal;
        @include trailer(0.2, $base-font-size, margin);
      }
      h4 + p{
        padding-top: 2em;
      }
      padding-right: 20px;
      width: 45%;
      @include myCalc("width", "50% - 20px");
      float: left;
    }

    .skills {
      @include trailer(1, $base-font-size, margin);
      width: 50%;
      float: right;
      h4{
        font-weight: normal;
        margin-bottom: 0;
        @include trailer(0.2, $base-font-size, margin);
      }
      ul{
        margin: 0.5em 1em 0.5em 0;
        // font-size: 1.2em;
      }
      li{
        padding: 0.2em 0;
      }
      p{
        margin: 0;
      }
      .head-line{
        text-align: right;
      }
      .sk{
        // border-bottom: 3px solid $col-blue;
        // @include box-shadow(0 1px 2px $col-grey);
      }
      .rwd{
        width: 95%;
      }
      .html5{
        width: 100%;
      }
      .css3{
        width: 95%;
      }
      .js{
        width: 80%;
      }
      .cms{
        width: 70%;
      }
      .php{
        width: 75%;
      }
      .as3{
        width: 50%;
      }
      .divider{
        color: $col-light-grey;
        font-size: 0.8em;
        font-style: italic;
      }
    }

    .employement,
    .education {
      clear: both;
      margin-bottom: 2em;
      h3{
        @include adjust-font-size-to(18px, 1.5, $base-font-size);
        font-weight: normal;
        // color: $col-light-grey; //darken($col-blue, 15%);

      }
    }

      .position,
      .qualification {
        margin-left: 2%;
        @include leader(2, $base-font-size, margin);
        @include trailer(2, $base-font-size, margin);
          p{
            padding: 0 1em;
            &.date{
              padding: 0.5em 0;
            }
            &.sample{
              padding: 0.5em 1em;
              font-size: 1em;
            }
          }
          .sample strong{
              color: darken($col-light-grey, 30%);
          }
          .desc{
            font-style: italic;
            color: darken($col-light-grey, 50%);
            margin-bottom: 0.5em;
          }
      }
        .date{
          font-family: $base-font-light;
          color: lighten( $col-grey, 10%);
          @include adjust-font-size-to(14px, 1);
          @include padding-trailer(0.2, $base-font-size);
        }
        .company,
        .establishment{
         font-family: $base-font-bold;
        }


    .education {
    }

      .qualification {
        // background: $col-light-blue;
        // @include debug-vertical-alignment;
      }

    .mod-footer {
    }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
      background: transparent !important;
      // color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
      content: "";
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  thead {
      display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  @page {
      margin: 0.6cm;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }
}
