.mod-tile{

  box-sizing: border-box;
  background: $col-light-grey;
  border: 1px solid #dedede;
  border-radius: 5px;
  float: left;
  margin: 0;
  padding: 1em;

  h4{
    text-shadow: 0 -1px 0 #dedede;
  }
  img{
    max-width: 100%;
  }
  figure{
    position: relative;
  }
  figcaption{
    background: rgba( 0,0,0, 0.8);
    position: absolute;
    bottom: 3px;
    width: 100%;
    p{
      padding-left: 1em;
      color: white;
    }
  }

}

@for $i from 2 through $tile-max-num{
  .mod-tile-#{$i}{
    @include legacy-pie-clearfix;
    @extend .mod-tile;
    $exp : 100 / #{$i} * 1%;
    @include myCalc("width", $exp);
  }
}


// Min small to max small
@media only screen and (min-width: $mq-small-min) and (max-width: $mq-small-max){
  .mod-tile-double-width{
    width: $tile-full;
    @include transition( width, .7s);
  }
}

//max small to tablet (portrait)
@media only screen and (min-width: $mq-medium-min) and (max-width: $mq-medium-max){

}

//tablet (landscape)
@media only screen and (min-width: $mq-large-min) and (orientation: landscape){

}