.mod-top-nav{

  ul{
    @include inline-list-style();

    float: left;
    margin: 0;
  }
  li{
    a{
      &:hover{
        text-decoration: none;
      }
    }
    &:first-child{
    }
    &:hover,
    &.is-active{
      a{}
    }
  }
}
