.mod-icon{

  display: block;

  // Social icons
    // Facebook
    &.fb{
      $height: icon-sprite-height(facebook_icon);
      $width: icon-sprite-width(facebook_icon);

      @include icon-sprite(facebook_icon);
      width: $width;
      height: $height;

      &:hover{
        @include icon-sprite(facebook_over_icon);
      }
    }
    // Twitter
    &.tw{
      $height: icon-sprite-height(twitter_icon);
      $width: icon-sprite-width(twitter_icon);

      @include icon-sprite(twitter_icon);
      width: $width;
      height: $height;

      &:hover{
      @include icon-sprite(twitter_over_icon);}
    }
    // Google Plus
    &.gp{
      $height: icon-sprite-height(google_icon);
      $width: icon-sprite-width(google_icon);

      @include icon-sprite(google_icon);
      width: $width;
      height: $height;

      &:hover{
      @include icon-sprite(google_over_icon);}
    }
    // LinkedIn
    &.li{
      $height: icon-sprite-height(linkedIn_icon);
      $width: icon-sprite-width(linkedIn_icon);

      @include icon-sprite(linkedIn_icon);
      width: $width;
      height: $height;

      &:hover{
      @include icon-sprite(linkedIn_over_icon);}
    }
    // Flickr
    &.fc{
      $height: icon-sprite-height(flickr_icon);
      $width: icon-sprite-width(flickr_icon);

      @include icon-sprite(flickr_icon);
      width: $width;
      height: $height;

      &:hover{
      @include icon-sprite(flickr_over_icon);}
    }
    // Mail To
    &.mt{
      $height: icon-sprite-height(mailTo_icon);
      $width: icon-sprite-width(mailTo_icon);

      @include icon-sprite(mailTo_icon);
      width: $width;
      height: $height;

      &:hover{
      @include icon-sprite(mailTo_over_icon);}
    }

}