.mod-main-nav{

  ul{
    @include clearfix;
  }

  li{
    @include inline-list-style;
    > a{
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      &:hover,
      &:focus{
      }
    }
    &:hover{
      a{}
    }
  }
}