.mod-footer{
}


// Min small to max small
@media only screen and (min-width: $mq-small-min) and (max-width: $mq-small-max){

}

//max small to tablet (portrait)
@media only screen and (min-width: $mq-medium-min) and (max-width: $mq-medium-max){

}

//tablet (landscape)
@media only screen and (min-width: $mq-large-min) and (orientation: landscape){

}
